
nav {
  height: 482px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 1px;
  width: 300px;
  order:-1; 
}
.formulario {
    font-family: Arial, serif;
    font-size: larger;
    color: #7a7676;
    margin:auto;
    width: 200%;
    text-align: center;
    border: 3px solid #0abab5;
    padding: 10px;
  }
