:root{
  --color-white:#ffffff;
  --color-blue:#0abab5;
  --color-grey:#7f7c82;
  --color-red:#e63636;
  --color-black:#000000;
}
*{
  margin: 0;
  padding:0;

}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-white);
  color: var(--color-grey);
}
input[type="checkbox"]{
  display: none;
}
* {
  box-sizing: content-box;
  margin: 0;
  padding: 1;
}
html{
  --header-color:#0abab5;
  --header-button:#0abab5;
  --color-weekdays: #363636;
  --box-shadow: #CBD4C2;
  --hover: #e8faed;
  --current-day:#d0fcfd;
  --button-color:#0abab5
  --event-color: #58bae4;
  --modal-event: #e8f4fa;
  --color-day:white;
  

}
/* body */
body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: #7a7676;
}

header div {
  display: flex;
  width: 100%;
  height: 145%;
  justify-content: center;
}

header img {
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: center;
  flex-direction: row;
}

header,
footer,
article,
nav {
  padding: 1em 0;
}

/* header {
  background: #ffffff;
  height: 20vh;
} */

header,
footer,
article,
nav {
  padding: 1em 0;
}


main {
  display: flex;
  padding: 10px;
  padding-top: 78px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
nav {
  height: 482px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 1px;
  width: 300px;
  order:-1; 
}
.container {
  display: flex;
  font-family: Arial, serif;
  color: var(--color-white);
  background-color: var(--color-blue);
  min-width: 20%;
  overflow: auto;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 10px;
  border: 1px solid #0abab5;
  /* margin-left: 300px; */
  
  }
  h1{
    margin-bottom: 1rem;
    text-align: center;
  }
  .container .cadastro{
    display: flex;
    flex-direction: column;
      
  }
  
  input{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 2px solid var(--color-blue)
    color var(--color-grey);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
    
  }
  .inputs:focus{
    border-color: var(--color-grey);
  }
  .select{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap:1rem;
  }
  button[value="submit"]{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid #0abab5;
    width:200px;
    color: var(--color-grey);
    background-color: var(--color-white);
    margin-top: 1rem;
    cursor: pointer;
    transition: .3s;
  }
 button[value="submit"]:hover{
   background-color:var(--color-grey) ;
   color:var(--color-white)
 }
 
 @media screen and (max-width: 600px) {
    .select{
      flex-direction: column;
      gap:5px;
    }
 }

 .formulario_cardDarkMode{
  border: 1px solid #6272a4;
  box-shadow: 0px 0px 5px 6px #6272a4;
  background-color: black;
}