header div{
    display: flex;
    width: 366px;
    height: 150px;;
    justify-content: center;
    
  }
  
  header span img{
    display: flex;
    margin: 5px;
    padding:5px;
    width: 300px;
    height: 130px;
    justify-content: center;
    flex-direction: column-reverse;
  }  
  
  header, article, nav {
    padding: 1em 0; 
  }
   
  header{
    background: #ffffff;
    height: 20vh;
  }   
  