* {
  box-sizing: content-box;
  padding: 2px ;
  
}

/*BODY*/

body {
  background-color: #ffffff;
  margin: 0;
  padding:0 1em;
  font-family: Arial, serif;
    
}

header div{
  display: flex;
  width: 100%;
  height: 145%;
  justify-content: center;
  
}

header {
  padding-bottom: 90%;
}

header img{
  display: flex;
  margin: 5px;
  padding:5px;
  justify-content: space-between;
  flex-direction: column-reverse;
}  

header, footer, article, nav {
  padding: 1em 0; 
}
  
header{
  background: #ffffff;
  height: 20vh;
}   
#main {
  display: flex;
  min-height: calc(90vh - 40vh);
}
#main article {
  display:flex;
  font-size: 25px;
  flex-direction: column;
  padding-top: 5% ;
}

#main nav {
  flex : 0 0 20vw;
  background: #ffffff;
}


#main nav {
  order: -1; 
}

p{
  display: flex;
  justify-content: center;
  color: #7a7676;
  padding:0% ;

}


