* {
  box-sizing: content-box;
  padding: 2px ;
  
}

/*BODY*/

body {
  font-family:Arial, Helvetica, sans-serif;
  color:#5c5a5a;
}

#main {
  display: flex;
  padding: 0;
  padding-top: 78px;
  flex-direction: row;
  flex-wrap: nowrap;
   
}

#main article {
  display:flex;
  font-size: 20px;
  text-align:justify ;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4% ;
}

#main article .round-container img {
  display: flex;
  position:absolute ;
  left: 50%;
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  
}

#main nav {
  height: 482px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 1px;
  width: 300px;
  order:-1; 
}

p{
 
  color: #5c5a5a;
  padding:0% ;

}


