*{
  box-sizing:content-box;
  margin: 0;
  padding: 1;
}
/* body */
body{
  background-color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  color:#7a7676;
}

header div{
  display: flex;
  width: 100%;
  height: 145%;
  justify-content: center;  
}

header img{
  display: flex;
  margin: 5px;
  padding:5px;
  align-items: center;
  flex-direction: row;
}  

header, footer, article, nav {
  padding: 1em 0; 
}

header{
  background: #ffffff;
  height: 20vh;
}   

header, footer, article, nav {
  padding: 1em 0; 
}

main {
display: flex;
padding: 15px;
padding-top: 78px;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;

}
nav {
  height: 482px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 1px;
  width: 300px;
  order:-1;

}
/*Container*/

.container{
    width: 100% ;
    height: 100%;
    padding: 20px;
    /*overflow: hidden;*/
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}

.container.card{
  position:relative;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin: 20px;
  border:2px  solid black;
  border-radius: 20px ;
  text-align: center;
  font-size: small;
}

.rodape-prin {
  background-color: #0abab5(0, 0, 0);       
  clear: inline-start;
  padding: 28px;         
  color: #ffffff(250,255,250);
  font-size: 15px;
  font-family: "arial", sans-serif;
}

.redes-sociais li {
  display: inside;
  float: none;
  width: 60px;
  height: 40px;
  
}

.footer {
  padding: 1em 0; 
  background: #ffffff;
  height: 20vh;
}