* {
  box-sizing: border-box;
  padding: 1em;
  
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: Arial, serif;
    
}

#main {
  display: flex;
  min-height: calc(90vh - 40vh);
}
#main > article {
  flex: 1;
  font-size: 20px;
}
#main > nav, {
  flex: 0 0 20vw;
  background: #ffffff;
}


#main > nav {
  order: -1; 
}

header, footer, article, nav, {
  padding: top, 

}
  
header, footer {
  background: #ffffff;
  height: 20vh;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: static;
  height: 200%;
  overflow: auto;
  font-size: 100%;
}

.sidebar a {
  display: block;
  color: #7a7676;
  padding: 20px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #ffffff;
  color: #fbfcfc;
}

.sidebar a:hover:not(.active) {
  background-color: #0abab5;
  color: white;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
  }
  .sidebar a {
    float: left;

    }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.testimonial { 
    margin-bottom: 20px;
  }
  .testimonial .author {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .testimonial .content {
    font-style: italic;
  }
  
  .principal {
    font-family: Arial, serif;
    font-size: larger;
    color: #7a7676;
    margin:auto;
    width: 200%;
    text-align: center;
    border: 3px solid #0abab5;
    padding: 10px;

  }
.rodape-prin {
    background-color: #0abab5(0, 0, 0);       
    clear: inline-start;
    padding: 28px;         
    color: #ffffff(250,255,250);
    font-size: 15px;
    font-family: "arial", sans-serif;
}

.redes-sociais li {
    display: inside;
    float: inline-end;
    width: 60px;
    height: 40px;
}
